/* contact_us.css */

/* Navbar styles */
.navbar {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navbar h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 8%;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20%;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.div1{
    display: flex;
    justify-content: center;
    background-color:blue;
    height: 60%;
    width: 60%;
}

.div2{
    background-color:blue;
    height: 60%;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
}
