body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3em; /* Adjust as needed */
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50; /* Darker shade of green */
}

.button2 {
    background-color: #2E8B57; /* Another shade of green */
}
